#app{
    width: 80%;
    margin: 0 auto;
}
.fontEdit{
  font-weight: bold;
}
.navBar{
    width: 100%;
}
.borderR{
    border-radius: 5px;
}
.margin-t10{
    margin-top: 10px;
}
.margin-t05{
    margin-top: 5px;
}
.margin-l05{
  margin-left: 5px;
}
.styck{
    position: sticky;
    top: 0;
}
.alinhamento{
  width: 80%;
  margin: 0 auto;
  
}
body{
  background: rgb(174,230,230);
  background: linear-gradient(90deg, rgba(174,230,230,1) 0%, rgba(183,220,255,1) 100%);}
.backImg{
  background-image: url(./image/rio-de-janeiro-1963744_1920.jpg);
  border-radius: 5px 5px 0 0;
  color: black;
}
.border0R{
  border-radius: 0 0 5px 5px;
}
.bgWi{
  background-color: rgba(255, 255, 255, 0.6);
}
@media (min-width: 320px) and (max-width:767px){
  #app{
    width: 100%;
  
  }
  .w-50{
    width: 100% !important;
  }
  .display-3{
    font-size: 2.5rem;
  }
  .mapa{
    width: 100% !important;
    height: 320px !important;
    margin: 10px auto;
  }
  .divMap{
    margin:10px auto;
    height: 380px !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #app{
    width: 95%;
  }
  .display-3{
    font-size: 2.5rem;
  }
}
@media (min-width: 1024px){
  #app{
    width: 90%;
  }
  .display-3{
    font-size: 2.5rem;
  }

}
.mapa{
  border: 1px solid black;
  border-radius: 5px;
  width: 80%;
  height: 520px;
  margin: 10px auto;
}
.divMap{
  margin:10px auto;
  height: 600px;
}
.center{
  text-align: center;
  margin: 0 auto;
}
.cap{
  text-transform: capitalize;
}
.w-85{
  width: 85%;
  margin: 0 auto;
}
.w-50{
  width: 50%;
}
.auto{
  margin: 10px auto;
}
.b{
  border: 1px solid;
  border-radius: 5px;
}
.p{
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.m00{
  margin-top: 0;
  padding-top: 0;
}